/* Box and container styles */
* {
  box-sizing: border-box;
}

/* Titles Styling */
#mainTitle {
  background: linear-gradient(to right, #1b9fb1, #001d3d);
  color: white;
  text-align: center;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-weight: bold;
  padding-top: 15px;
}

h4 {
  padding-top: 15px;
}

/* List Styles */
li:hover {
  background-color: lightslategray;
  text-decoration: underline;
}

/* Weather Results Box Styles */
.col-sm-2 {
  padding-left: 50px;
  padding-right: 50px;
}

#weatherRow {
  justify-content: space-between;
}